.body {
    display: flexbox;
    background-color: #c72614;
    height: 100vh;
    padding-top: 20vh;
}

.login {
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 50vh;
    width: 40vw;
    border-radius: 50px 50px 50px 50px;
    /*filter: drop-shadow(0px 10px 4px rgba(25,25,25,0.25))*/
    box-shadow: 0px 10px 4px rgba(25,25,25,0.25);
}

.center-card {
    margin: 8vw;
}

.header {
    /*font-family: 'Mulish';*/
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    padding-bottom: 3vh;
    color: #3B3B3B;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 30px;
    }
}

.username, .password {
    width: 24vw !important;
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
    padding-left: 1vw !important;
    height: 5vh !important;
    border-radius: 20px !important;
    border-color: #d9d9d9 !important;
    border-style: solid !important;
}

@media screen and (max-width: 768px) {
    .username, .password {
        font-size: 13px;
    }
}

.button {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    margin-top: 2vh;
}