.settings-container {
    padding: 20px;
    background-color: #c72614;
    min-height: 100vh;
  }
  
  .settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
  }
  
  .settings-header h2 {
    margin-left: 10px;
    color:white;
  }
  
  .settings-options {
    margin-top: 20px;
  }

  .settings-option {
    display: flex;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: 1.5px solid #ccc;
    background-color: #c72614;
    color: #fff;
    text-align:left;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 25px
  }
  
  .settings-onpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: 1.5px solid #ccc;
    background-color: #c72614;
    color: #fff;
    text-align: left;
    cursor: pointer;
    border-radius: 25px;
  }

  .settings-onpage-goal {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: 1.5px solid #ccc;
    background-color: #c72614;
    color: #fff;
    text-align: left;
    cursor: pointer;
    border-radius: 25px;
  }

  .settings-option:hover {
    background-color: #d00;
  }
  
  .settings-content {
    padding: 20px;
    color:white;
  }

  .text-group {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
  }
  

  .percentage-container {
    display: flex;
    flex: 0 1 15%; /* Further shrink the percentage container */
    margin: 10px;
    max-height: fit-content;
  }

  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    margin-bottom: 20px;
  }

  .submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .triangle {
    width: 30px;
    height: 30px;
    margin-left: 80vw;
    rotate: 180deg;
    color: white;
    filter: invert(100%);

  }