.settings-container {
    padding: 20px;
    background-color: red;
    min-height: 100vh;
  }
  
  .settings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
  }
  
  .settings-header h2 {
    margin-left: 10px;
    color:white;
  }
  
  .settings-options {
    margin-top: 20px;
  }

  .settings-option {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    background-color: #f00;
    color: #fff;
    text-align: left;
    cursor: pointer;
  }
  
  .settings-option:hover {
    background-color: #d00;
  }
  
  .settings-content {
    padding: 20px;
    color:white;
  }
  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
    margin-bottom: 20px;
  }

  .navtriangle {
    position: absolute;
    top: 176px;
    right: 55px;
    background-color: white;
  }
  .navtriangle:before,
  .navtriangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
  }
  .navtriangle,
  .navtriangle:before,
  .navtriangle:after {
    width:  18px;
    height: 18px;
    border-top-right-radius: 30%;
  }
  
  .navtriangle {
    transform: skewX(-30deg) scale(1,.866);
  }
  .navtriangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .navtriangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }