.card {
    background-color: #fff;
    width: 32vw;
    height: 10vh;
    box-shadow: inset 0px 4px 8px 1px #A8A8A8;
    border-radius: 40px;
}

.admin {
    margin: auto;
    padding: 4vh;
    font-weight: 700;
    color: #383838;
}

