* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    color: white;
}

footer {
    background-color: white;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    gap: 2rem;
    margin-bottom:0rem;

}

.social-logo {
    opacity: 1.0;
    filter: alpha(opacity=100);
    transition: opacity 0.5s ease;
}

.social-logo:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin-top:30px;

}

.kanit-semibold {
    white-space:pre-line;
    display:inline-block;
    font-size:small;
    align-items:center;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal; 
    color: black;
    margin-top:2rem;
    text-align:center;
    position:relaative;
}