/* Leaderboard.css */
.leaderboard {
    width: 100%;
    max-width:100vh;
    /* Adjust width as needed */
    margin: 1rem auto;
    text-align: center;
    align-self:auto;
    background-color: #f9f9f9; /* Background for the leaderboard container */
    padding: 1rem;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display:inline-block;
}

.leaderboard h3 {
    margin-bottom: 1rem; /* Space below the heading */
    color: #333; /* Heading color */
}

.leaderboard-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 2px solid #ddd; /* Optional: Add a border to separate header */
    background-color: #e0e0e0; /* Background for header */
    font-weight: bold; /* Optional: Make header text bold */
    color:#8B0000;
}

.leaderboard-header-item {
    flex: 1;
    text-align: center;
}

.leaderboard-header-item.name {
    text-align: left; /* Align name to the left */
    margin-left:1rem;
}

.leaderboard-header-item.steps {
    text-align: center; /* Center the steps */
    margin-right:1rem;
}

.leaderboard-header-item.rank {
    text-align: right; /* Align rank to the right */
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Space between leaderboard items */
}

.leaderboard-item {
    background-color: #e0e0e0; /* Default background color */
    color: #333; /* Text color */
    padding: 1rem;
    border-radius: 8px; /* Rounded corners */
    display: flex;
    justify-content: space-between; /* Space out items in the box */
    align-items: center;
    font-weight: bold;
}

.leaderboard-item.gold {
    background-color: gold; /* Gold color for 1st place */
}

.leaderboard-item.silver {
    background-color: silver; /* Silver color for 2nd place */
}

.leaderboard-item.bronze {
    background-color: #cd7f32; /* Bronze color for 3rd place */
}

.leaderboard-name,
.leaderboard-steps,
.leaderboard-rank {
    flex: 1;
}

.leaderboard-name {
    text-align: left;
}

.leaderboard-steps {
    text-align: center;
}

.leaderboard-rank {
    text-align: right;
}

.current-user-info {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd; /* Border to separate current user info */
    border-radius: 8px;
    background-color: #8B0000
}